#Jewelries{
    margin-top: 140px;

}

#serch-container {
    display: flex;
    height: 40px;
    position: fixed;
    width: 100%;
    justify-content: center; 
    align-items: center;   
    text-align: center;    
    background-color: rgb(246, 236, 238); 
    margin-top: 4px;
}

#serch-label {
    margin-right: 10px;           
}

#Jewelries-items {
    display: flex;
    padding: 20px;
    gap: 20px;
    flex-flow: row wrap;

}
#gap {
    height: 30px;
}
