.App {
  text-align: center;
}


.App-header {
  background-color: white;
  border-bottom: black 4px solid;
  height: 140px;
  position: fixed;
  width: 100%;
  top: 0;
  color: white;
}

.App-logo {
  height: 80%
}
.App-headerButtonText {
  color: black;
  height: 20%;
  margin: 0;
  font-weight: bold;
  font-style: italic;
}
.App-body {
  margin-top: 140px;
}
.App-bodyCover {
  width: 100%;
}

.App-text-container {
  padding: 20px;
}

.App-about {
  display: flex;

}

.App-me-text {
  flex: 3;
  align-self: center;
  font-weight: bolder;
  font-size: 50px;
}

.App-me-image {
  flex: 1;
  height: 400px;
  border-radius: 30px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}