.App {
  text-align: center;
}


.App-header {
  background-color: white;
  border-bottom: black 4px solid;
  height: 140px;
  position: fixed;
  width: 100%;
  top: 0;
  color: white;
}

.App-logo {
  height: 100%
}

.App-body {
  margin-top: 160px;
}
